.container {
    display: grid;
    grid-template-columns: repeat(2, calc((100vw - 18px) / 2));

    grid-gap: 10px;
}
.image-back {
    width: 30vw;
    height: 30vw;
    position: fixed;
    top: 0;
    left: 0;
}
